.app-container {
  text-align: center;
}

.mens-container {
  border: solid black 1px;
}

.filter-column-wrapper {
  border: solid black 1px;
}

.shoecard {
  border: solid black 1px;
}

.shoe-image {
  width: 100px;
  height: 100px;
}
